.navbar{
    overflow: hidden;
    display: flex;
    background-color:black;
    position: fixed;
    top: 0;
    width: 100%;
    
}
.navbar a {
    float:left ;
    display:flex;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
a:hover {
    background-color: green;
}
